# DEVELOPMENT ONLY
# You'll need a separate Github OAuth app for dev, and a public tunnel to your local app. 

VITE_OAUTH_CLIENT_ID=your_dev_github_client_id_here
OAUTH_CLIENT_SECRET=your_dev_github_client_secret_here
VITE_OAUTH_REDIRECT_URI=https://yourtailnet.ts.net/auth/callback


# PRODUCTION ENVIRONMENT
# Set in GitHub Pages or Vercel or whatever directly, use a separate GitHub OAuth app.
# Just here for reference. Uses `PROD_` prefix.
# PROD_OAUTH_CLIENT_ID=your_prod_github_client_id_here
# PROD_OAUTH_CLIENT_SECRET=your_dev_github_client_secret_here
# PROD_OAUTH_REDIRECT_URI=https://user.github.io/not-a-haiku/auth/callback