
# DEVELOPMENT LOCAL SETUP
# Copy to .env
VITE_OAUTH_CLIENT_ID=your_dev_github_client_id_here
OAUTH_CLIENT_SECRET=your_dev_github_client_secret_here
VITE_OAUTH_REDIRECT_URI=https://yourtailnet.ts.net/auth/callback # Development callback URL


# PRODUCTION ENVIRONMENT
# Set in Vercel directly
# VITE_OAUTH_REDIRECT_URI=https://user.github.io/not-a-haiku/auth/callback # Prod callback URL